<div class="table-cell header {{if isSort 'selected'}}" {{action @sortBooks @sortBy}}>
  {{@columnName}}
  {{#if isSort}}
    {{#if @isReversed}}
      &uarr;
    {{else}}
      &darr;
    {{/if}}
  {{/if}}
</div>
