<div class="container">
  <h1>About BookCollector.com</h1>
  <p>This is a site that collects books.</p>
  <p>Totally unique on the internet.</p>
  <p>To find something similar you'd have to go to a giant rainforest or something.</p>
  {{link-to 'Look at some books!' 'books'}}
</div>
